<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="roy.hr.mapper" />
        <option name="javaMapperPath" value="E:\java\hr\mapper\src\main\java" />
        <option name="javaModelPackage" value="roy.hr" />
        <option name="javaModelPath" value="E:\java\hr\model\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="service" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="service">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="roy.hr.mapper" />
                  <option name="javaMapperPath" value="E:\java\hr\mapper\src\main\java" />
                  <option name="javaModelPacakge" value="roy.hr" />
                  <option name="javaModelPath" value="E:\java\hr\model\src\main\java" />
                  <option name="xmlPackage" value="roy.hr.mapper" />
                  <option name="xmlPath" value="E:\java\hr\mapper\src\main\java" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="hr:employee">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Employee" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:hr">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Hr" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:hr_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="HrRole" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:joblevel">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Joblevel" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Menu" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:menu_role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="MenuRole" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:nation">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Nation" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:role">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Role" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="hr:salary">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Salary" />
                  <option name="moduleName" value="service" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="roy.hr.mapper" />
        <option name="xmlMapperPath" value="E:\java\hr\mapper\src\main\java" />
      </ProjectProfile>
    </option>
  </component>
</project>